<li class="active">
  <!-- Exercise 2 could probably be explained better. If I didn't know what was going on, I'd probably have to spend some time trying to work it out. -->

  <h4>Exercise 2</h4>
  <div class="row">
    <div class="seven columns">
      <p>
        Exercise 2: 4 clubs. This is the first 4 throws of 5 ultimates; this is easier than 5 club ultimates because there is a pause. One club starts in each hand. There are four possible starts (one from each hand), and I find that because it can be confusing to switch between them, this exercise works well focusing on each start at a time. Begin with the student starting, and have them switch to the other side as soon as they feel comfortable with the first. Instruct them to start on either side until they are comfortable with both. (note: as the teacher, reacting to either side in this exercise can be mildly confusing at first. It's not hard, just make sure to try it a few times so you know what's up).
      </p>
    </div>
    <div class="five columns">
      <%= image_tag 'exercise2a.gif' %>
    </div>
  </div>

  <h4>Exercise 2b</h4>
  <div class="row">
    <div class="seven columns">
      <p>
        Exercise 2b: same as before, but now with the teacher starting. Stick to one side at a time, and let the student know before switching. Move on when you can consistently catch all four throws from both sides. Review exercise 1b if you think it might be helpful.
      </p>
    </div>
  </div>

  <h4>Exercise 2c</h4>
  <div class="row">
    <div class="seven columns">
      <p>
        Exercise 2c: 4 clubs, same pattern, always start with the same club. This basically cycles through all four starts.
      </p>
    </div>
    <div class="five columns">
      <%= image_tag 'exercise2c.gif' %>
    </div>
  </div>

</li>




