<li class="active">
  <h4>Exercise 1</h4>
  <div class="row">
    <div class="seven columns">
      <p>
        The first exercise is 3 club ultimates. Lofty singles, just throw to the empty hand. Only one throw at a time. This one is to learn the basic pass with each hand.
      </p>
    </div>
    <div class="five columns">
      <%= image_tag 'exercise1a.gif' %>
    </div>
  </div>

  <h4>Exercise 1b</h4>
  <div class="row">
    <div class="seven columns">
      <p>
        3 clubs, student starts with two, teacher throws first pass, student learns to react with a pass. This exercise is mostly about timing, and continuing to throw good passes while having another club come in.
      </p>
      <!-- <a href="#exercise_2" class="medium secondary button right">Next &raquo;</a> -->
    </div>
    <div class="five columns">
      <%= image_tag 'exercise1b.gif' %>
    </div>
  </div>
</li>


