<li class="active">
  <h4>Exercise 3</h4>
  <div class="row">
    <div class="seven columns">
      <p>
        Exercise 3: 5 club ultimates. This is passing!
      </p>
    </div>
    <div class="five columns">
      <%= image_tag 'onecount5.gif' %>
    </div>
  </div>
</li>

