<li class="active">
  <h4>What is this?</h4>
  <p>
    Soon there will be a nice description here about why I've made this etc.
  </p>
  <p>
    The exercises are described in detail with animations.
  </p>
</li>

