<li class="active">
  <h4>What is this?</h4>

  <p>
    This site exists to explain in detail a new way to teach passing.
  </p>

  <p>
    If you want to teach a friend to pass, then you've come to the right place.
    If you want to learn to pass, I highly recommend you find someone that already knows how.
    However, this method will also work for two beginners wanting to learn together.
  </p>

  <p>
    I generally teach with this with clubs, but the steps will work well with rings or balls or whatever.
    To learn with this method, it is not necessary for the student to be able to juggle 3 objects,
    although it helps if they have some experience tossing clubs around (or whatever object you are using).
  </p>

</li>

