<li class="active">
  <h4>Other Resources</h4>

  <p>Here are some other websites with information about teaching or learning passing:</p>

  <ul>
    <li>
      <a href="http://gnerds.com/juggle/passing.uplift.html">Uplifting Passers</a>
    </li>
  </ul>
</li>

