<li class="active">
  <h2>To give credit, where it's due</h2>

  <p>
    Thanks to Aidan Burns for making the animations and to everyone else who has given feedback about this process. Thanks to Doug Martin, who has been through the workshop many times and helped me improve it. And a special thanks to Hallie McGee who has helped me with every step.
  </p>

</li>

