<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}} | Passing Pedagogy</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/stylesheets/foundation.min.css" integrity="sha512-GFHtUPPm8Z2LibTzlTNk40VETLzKClsPeVozoikftPWr84AGRKvApFLokOrsVYC72elEK5J6AjcRGpy88SOKWw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/javascripts/foundation.min.js" integrity="sha512-NLf8O/e7ff8j3TMy/P4njRrXaTJLz04Qb2Z8SiKiFCmdVx+m2fFnhSw6QubF4Bw2cobqRmBOQi3vpgp4ILDS2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
  <div class="row">
    <div class="twelve columns">
      <div class="panel">
        <h1>Passing Pedagogy</h1>
      </div>
    </div>

    <div class="six columns">
      <p>
        <span class="secondary label">Pass&bull;ing</span>
        The act of juggling between more than one person.
      </p>
    </div>
    <div class="six columns">
      <p>
        <span class="secondary label">Ped&bull;a&bull;go&bull;gy</span>
        The method and practice of teaching.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="nine columns push-three">
      <ul class="tabs-content">
        {{content}}
      </ul>
    </div>

    <div class="three columns pull-nine">
      <dl class="nice vertical tabs">
        {% for item in site.navigation %}
          <dd {% if page.title == item.title %}class="active"{% endif %}>
            <a href="{{item.path}}">
              {{item.title}}
            </a>
          </dd>
        {% endfor %}
      </dl>
    </div>
  </div>

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">

        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="/resources">Other Resources</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/thanks">Thanks</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
