
<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">

      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><%= link_to 'Other Resources', resources_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Thanks', thanks_path %></li>
        </ul>

      </div>
    </div>
  </div>
</footer>
