
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <h1>Passing Pedagogy</h1>
    </div>
  </div>

  <div class="six columns">
    <p>
      <span class="secondary label">Pass&bull;ing</span>
      The act of juggling between more than one person.
    </p>
  </div>
  <div class="six columns">
    <p>
      <span class="secondary label">Ped&bull;a&bull;go&bull;gy</span>
      The method and practice of teaching.
    </p>
  </div>
</div>
